@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@800&display=swap');

body{
    margin: 0;
}
.img{
    position:absolute;
    height:100vh;
    width:100vw;
    background-image: url("https://wallpapertag.com/wallpaper/full/0/2/5/203441-new-dark-anime-background-scenery-1920x1080-for-mobile-hd.jpg"); 
    opacity:0.5; 
    z-index: -3; 
    filter: brightness(0.5);
    background-size:cover;
}
.parent{
    height:auto;
    width:auto;
}
.outside{
    position: absolute;
    height:90%;
    width:25%;
    border-radius: 50px;
    background-color: rgb(32, 32, 32);
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-width:5px;
    border-style:solid;
    border-color:rgb(214, 214, 214);
}
.shadow{
    position:absolute;
    height:90%;
    width:25%;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.411);
    top: 50px;
    left:35%;
    z-index: -1;
    
}

.inside{
    position:absolute;
    height: 92%; 
    width: 90%;
    /*padding:100px;*/
    border-radius: 10px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    /* z-index: -1; */
}
.homeScreen{
    background-image: linear-gradient(-135deg, rgb(242, 114, 114), rgb(76, 132, 216));
}
.messageApp{
    background-color: white;
    z-index: -10;
    opacity:0;
}

.button{
    position: absolute;
    height:5px;
    width:50px;
    background-color: black;
    border-radius:100px;
    left:50%;
    top: 7px;
    transform: translate(-50%);
    background-color: black;
    border-width:2px;
    border-style:solid;
    border-color:rgb(214, 214, 214);
}

.icon{
    position:absolute;
    background-image: url("message_icon.png");
    background-size:contain;
    background-repeat:no-repeat;
    top: 60%;
    left:50%;
    transform: translate(-50%);
    height:30%;
    width:30%;
    /* top:-4px;  */
    animation: bounces 1s infinite ease-in-out;
}

@keyframes bounces {
    0%{
        top:60%;
    }
    50%{
        top: 62%;
    }
    100%{
        top:60%;
    }
}

.click_message{
    position:absolute;
    height: 20px;
    width: 80px;
    top:78%;
    left: 50%;
    transform: translate(-50%);
    background-color: rgba(255, 255, 255, 0.372);
    display:none;
    text-align:center;
    border-radius: 5px;
    color: black;
    font-family: 'Itim';
    font-weight: bold;
    
}
.time{
    position: absolute;
    width:100%;
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 400%;
    color:rgba(250, 250, 250, 0.443);
    top: 20%;
    left:50%;
    transform: translate(-50%);
    text-align: center;
}

.icon:hover + .click_message{
    display:block;
}
