@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body{
    margin: 0;
    overflow-y:auto;
    overflow-x: hidden;
}
.img{
    position:absolute;
    height:100vh;
    width:100vw;
    /* height:100%;
    width:100%; */
    background-image: url("https://wallpapertag.com/wallpaper/full/0/2/5/203441-new-dark-anime-background-scenery-1920x1080-for-mobile-hd.jpg"); 
    opacity:0.5; 
    z-index: -3; 
    filter: brightness(0.5);
    background-size:contain;
}
.parent{
    height:100vh;
    width:auto;
    /* position:absolute;
    height:100%;
    width:100%; */
}
.outside{
    position: relative;
    /* height:90%;
    width:25%; */
    height: 766px;
    width: 400px;
    border-radius: 50px;
    background-color: rgb(32, 32, 32);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-width:5px;
    border-style:solid;
    border-color:rgb(214, 214, 214);
}
.shadow{
    position: absolute;
    /* height:90%;
    width:25%; */
    height: 790px;
    width: 430px;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.411);
    top: 40px;
    left:35%;
    z-index: -1;
    
}

.inside{
    position:absolute;
    height: 92%; 
    width: 90%;
    /*padding:100px;*/
    border-radius: 10px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    /* z-index: -1; */
}
.homeScreen{
    background-image: linear-gradient(-135deg, rgb(242, 114, 114), rgb(76, 132, 216));
}
.messageApp{
    background-color: white;
    z-index: -10;
    opacity:0;
    overflow: hidden;
}

.button{
    position: absolute;
    height:5px;
    width:50px;
    background-color: black;
    border-radius:100px;
    left:50%;
    top: 7px;
    transform: translate(-50%);
    background-color: black;
    border-width:2px;
    border-style:solid;
    border-color:rgb(214, 214, 214);
}

.icon{
    position:absolute;
    background-image: url("message_icon.png");
    background-size:contain;
    background-repeat:no-repeat;
    top: 60%;
    left:50%;
    transform: translate(-50%);
    height:30%;
    width:30%;
    /* top:-4px;  */
    animation: bouncesIcon 1s infinite ease-in-out;
}

@keyframes bouncesIcon {
    0%{
        top:60%;
    }
    50%{
        top: 62%;
    }
    100%{
        top:60%;
    }
}

@keyframes openIcon {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.time{
    position: absolute;
    width:100%;
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 400%;
    color:rgba(250, 250, 250, 0.443);
    top: 20%;
    left:50%;
    transform: translate(-50%);
    text-align: center;
}

.click_message{
    position:absolute;
    height: 20px;
    width: 80px;
    top:80%;
    left: 50%;
    transform: translate(-50%);
    background-color: rgba(255, 255, 255, 0.372);
    display:none;
    text-align:center;
    border-radius: 5px;
    color: black;
    font-family: 'Itim';
    font-weight: bold;   
}

.icon:hover + .click_message{
    display:block;
}

.contact{
    position: absolute;
    height:15%;
    width:100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    top:0%;
    background-image: linear-gradient(rgb(169, 146, 255),rgba(255, 164, 177, 0.86));
    z-index: 10;
}
.picName{
    position: absolute;
    left:50%;
    top:75%;
    transform: translate(-50%);
    font-family: 'Raleway', sans-serif;
}

.pic{
    position:absolute;
    top:40%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    border-radius:100px;
    background-image: url("cat.png");
    background-size: cover; 
}

.moreInfo{
    position: absolute;
    height: auto;
    width:5.5%;
    top:75%;
    left:68%;
    font-weight: bolder;
    border-radius: 100px;
    border-width:1.33px;
    border-style:solid;
    border-color: black;
    background-color:rgba(255, 164, 178, 0);
    color: black;
    padding: 0px;
}

.moreInfo p{
    position:relative;
    margin: 2px;
    text-align: center;
    vertical-align: middle;
    font-size: 12px;
}

@keyframes bouncesMoreInfo{
    0%{
        top:73%;
    }
    50%{
        top: 75%;
    }
    100%{
        top:73%;
    }
}

.frameSpace{
    position: absolute;
    height:93%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    z-index:-1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
}
.frame{
    /* top:-15%; */
    width:100%;
    height:100%;
    border-radius: 10px;
}

.messageOption{
    position: absolute;
    height: 35%;
    width: 100%;
    top:65%;
    background-image: linear-gradient(rgba(255, 212, 218, 0.342),rgba(255, 212, 218, 0.662));
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 85%;
    display: none;
}

@keyframes chooseIn {
    0%{
        height:0%;
        opacity: 0;
    }
    100%{
        height: 35%;
        opacity: 1;
    }
}

@keyframes chooseOut {
    0%{
        height: 35%;
        opacity: 1;
    }
    100%{
        height:0%;
        opacity: 0;
    }
}

@keyframes expand {
    0%{
        opacity: 0;
        height:0%;
        color:rgba(253, 253, 253, 0);
        font-size: 10%;
    }
    100%{
        /* height: 100%; */
        color:black;
        font-size: 100%;
        opacity: 1;
    }

}

@keyframes collapse {
    0%{
        /* height: 100%; */
        color:black;
        font-size: 100%;
        opacity: 1;
    }
    100%{
        opacity: 0;
        height:0%;
        color:rgba(253, 253, 253, 0);
        font-size: 85%;
    }
}

.chooseMessage{
    position:relative;
    max-width: 90%;
    margin-top: 25px;
    width: 80%;
    padding-left: 2%;
    padding-right: 2%;
    height: auto;
    text-align: center;
    background-image: linear-gradient(rgba(255, 210, 217, 0.9),rgb(255, 183, 194));
    border-radius: 20px;
    font-family: 'Raleway', sans-serif;
    opacity: 0;
}

.messageBarSpace{
    position: absolute;
    height:7%;
    width:100%;
    top:93%;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    /* display:none; */
}

.messageBar{
    position: absolute;
    height:auto;
    width:85%;
    top:50%;
    left: 2%;
    transform: translate(0%,-50%);
    border-width:1px;
    border-style:solid;
    border-color: rgba(83, 82, 82, 0.479);
    border-radius: 20px;
    padding:0px;
}

.messageBar p{
    position:relative;
    margin: 8px;
    font-size: 12px;
    vertical-align:top;
    font-family: 'Raleway', sans-serif;
}

.sendButton{
    position: absolute;
    height:auto;
    width:9.5%;
    top:50%;
    transform: translate(0%,-50%);
    left:88.5%;
    border-width:1px;
    border-style:solid;
    border-color: rgba(83, 82, 82, 0.479);
    background-color: grey;
    color:white;
    border-radius: 100px;
    padding:0px;
}

.sendButton p{
    position:relative;
    margin: 3px;
    text-align: center;
    vertical-align: middle;
    font-size: 17px;
}

.contactCard{
    position:relative;
    height:50%;
    width:100%;
    top:50%;
    background-color:rgb(131, 131, 228);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display:none;
    
}

@keyframes slideIn{
    0%{
        top:200%
    }
    100%{
        top:50%;
    }
}

.closeButton{
    position: absolute;
    height: auto;
}